.vs/
Assert/
Assert-fast/
Debug/
Debug-fast/
Debug-Opt/
Final_Release/
Final_Release-fast/
obj/
Profile/
Profile-fast/
Release/
_Release-fast/
temp_files/
*.opensdf
*.sdf
*.suo
*.vcxproj.filters
*.vcxproj.user
*.opensdf
/Logs/
/__pycache__/
/tests/__pycache__/
/Assets/Python/Contrib/Sevopedia/__pycache__/
/leaders_data.py
/Assets/CvGameCoreDLL_d.dll
/CuCuGS/CuCuGS-PoC-main/
/CuCuGS/6ef8c443795c8566442b1b66ebd1703ac7ff4e24...main.patch_no_DLL_rubbish.txt
